node_modules/
dist/
build/
coverage/
web-build/
android/
ios/
.expo/
.expo-shared/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
.env
.env.*
.vscode/
lib/
tmp/
temp/
.watchman/
.tmp/
.eslintcache
.jest/
.idea/
.DS_Store
Thumbs.db
